<h1>Event Details page</h1>
<h1>Event requirement : {{eventData.requirement}}</h1>
<h1>----------------------</h1>
<h1>Faculty ID of Event collection: {{eventData.faculty}}</h1>
<h1>----------------------------------------------</h1>
<h1>Contribution List</h1>
<table border = 1>
{{#each chosenYesContributions}}
        <tr>
            <td>{{ student.name }}</td>
        </tr>
    {{/each}}
</table>