<form action="" method="post">
   <h1>Edit role</h1>
   <input type="text" name="role" required
   placeholder="Enter role"
   value="{{ role.role }}">
   <br><br>
   <input type="text" name="description" required
   placeholder="Enter description"
   value="{{ role.description }}">

   <input class="btn" type="submit" value="Edit">
</form>