<h1> Add new requirement</h1>

<form action="" method = "post">
    <input type="text" name="requirement" required
    placeholder="Enter requirement">

    <br><br>

    <input type="date" name="deadline1" required>

    <br><br>
    
    <input type="date" name="deadline2" required>

    <br><br>
    <input type="submit" value="Add">
</form>