{{!-- <form action="" method="post">
   <h1>Edit requirement</h1>
   <input type="text" name="requirement" required
   placeholder="Enter requirement"
   value="{{ requirement.requirement }}">
   <br><br>
   <input type="date" name="deadline1" required
   value="{{ requirement.deadline1 }}">
    <br><br>
   <input type="date" name="deadline2" required
   value="{{ requirement.deadline2 }}">

   <input class="btn" type="submit" value="Edit">
</form> --}}