<form action="" method="post" >
  <h1>Contribution Grade</h1>
    <h1>Student Name: {{student.name}}</h1>
    <h2>Event: {{event.requirement}}</h2>
  <br><br>
  Choosen: <input type="text" name="choosen" id="" value="{{contribution.choosen}}">
  <br><br>
  Comment: <input type="text" name="comment" value="{{contribution.comment}}">

  
  <input  type="submit" value="Add">
</form>