<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <div class="container">
    <nav class="blue bold upper">
      <ul>
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/auth/logout">LOGOUT ({{ username }})</a>
        </li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
